Options -Indexes

<ifmodule !mod_rewrite.c>
	Order deny,allow
	Deny from all
	ErrorDocument 403 /no-mod-rewrite.html
</ifmodule>

<ifmodule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^([a-zA-Z0-9_/-]*)$ index.php?args=$1 [QSA,NS,L]
</ifmodule>
